.message_red {
  color: red;
  border-color: red;
}

.message_green {
  color: green;
  border-color: green;
}

.message {
  padding: 2px;
  border: 1px solid;
}

.message_container {
  margin-top: 5px;
}
